.language-selector {
  @apply relative;

  button {
    @apply flex items-center gap-[10px] select-none;
    transition: color 250ms;

    &:hover {
      color: var(--text-color);
    }

    .icon-arrow {
      transition: transform 250ms;
    }
  }

  &__dropdown {
    @apply absolute left-1/2 bg-white rounded-[15px] mt-[15px] px-[15px] z-[402];
    transform: translateX(-50%);
    box-shadow: 0 0 15px -5px var(--shadow-color);

    &-item {
      @apply w-full select-none;
      border-top: 1px solid var(--border-color);

      &:first-child {
        @apply border-none;
      }

      a {
        @apply block py-[15px];
        transition: color 250ms;

        &:hover {
          color: var(--text-color);
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .language-selector {
    border-top: 1px solid var(--border-color);

    button {
      @apply w-full justify-center py-[15px];
    }

    &__dropdown {
      @apply w-[200px] text-center;
    }
  }
}

@media (max-width: 767px) {
  .language-selector {
    button {
      @apply w-full justify-center py-[15px];
    }

    &__dropdown {
      @apply w-full rounded-none m-0;
      box-shadow: none;

      &-item {
        &:first-child {
          border-top: 1px solid var(--border-color);
        }
      }
    }
  }
}
