@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/icons-sizes.scss';

.language-selector {
  @apply relative;

  button {
    @apply flex items-center gap-[10px];

    &:hover {
      color: $text-color;
    }
  }

  &__dropdown {
    @apply absolute left-1/2 bg-white rounded-[15px] mt-[15px] px-[15px];
    z-index: 402;
    transform: translateX(-50%);
    box-shadow: 0 0 15px -5px $shadow;

    &-item {
      @apply w-full;
      border-top: 1px solid $border;

      &:first-child {
        border: 0;
      }

      a {
        @apply block py-[15px];
      }
    }
  }
}
