.search {
  @apply relative rounded-full z-[402];
  box-shadow: 0 0 15px -5px var(--shadow-color);

  &__input {
    @apply relative w-[500px] rounded-[15px] z-[11];

    input {
      @apply w-full rounded-[15px] px-[45px] py-[8px];
      transition: border-radius 250ms;

      ::-webkit-input-placeholder {
        /* Edge */
        color: var(--text-primary-color);
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--text-primary-color);
      }

      ::placeholder {
        color: var(--text-primary-color);
      }
    }
  }

  &__result {
    @apply absolute left-0 w-full bg-white z-10;
    box-shadow: 0 0 15px -5px var(--shadow-color);

    &-list {
      @apply pt-[15px];

      &-heading {
        @apply text-[13px] ml-[15px];
        color: var(--text-primary-color);
      }

      &-item {
        @apply w-full select-none;
      }

      &:last-child .search__result-list-item:last-child button {
        @apply rounded-bl-[15px] rounded-br-[15px];
      }
    }

    &-button {
      @apply w-full text-left px-[45px] py-[8px];
      transition: background-color 250ms;

      &._flex {
        @apply flex flex-col;
      }

      &:hover, &:focus {
        background-color: var(--border-color);
      }

      &-caption {
        @apply text-[11px];
        color: var(--text-primary-color);

        b {
          color: #333;
        }
      }
    }
  }

  &._focused {
    @apply rounded-[15px];

    .search__input {
      input {
        @apply rounded-none rounded-br-none rounded-tl-[15px] rounded-tr-[15px];
      }
    }

    .search__result {
      @apply rounded-tl-none rounded-tr-none rounded-bl-[15px] rounded-br-[15px];
    }
  }
}

/** ------------ **/
/** MEDIA STYLES **/
/** ------------ **/

@media (max-width: 1279px) {
  .search {
    &__input {
      @apply w-[450px];
    }
  }
}

@media (max-width: 1023px) {
  .search {
    @apply hidden;

    &._mobile-opened {
      @apply block;
    }
  }
}

@media (max-width: 767px) {
  .search {
    &__input {
      @apply w-full;

      input {
        @apply rounded-none py-[15px];
      }
    }

    &._mobile-opened {
      @apply absolute left-0 top-[135px] w-full rounded-none z-[404];
      border-top: 1px solid var(--border-color);
      box-shadow: none;

      .search__result {
        &-list {
          &:last-child .search__result-list-item:last-child button {
            @apply rounded-none;
          }
        }

        &-button {
          @apply py-[15px];
        }
      }

      &._focused {
        .search__input {
          input {
            @apply rounded-none;
          }
        }

        .search__result {
          @apply rounded-none;
        }
      }
    }
  }
}


