.marked-template {
  @apply text-[19px] leading-[1.5em];
  color: rgba(0, 0, 0, .86);
  word-break: break-word;
  word-wrap: break-word;

  h1, h2, h3, h4, h5, h6 {
    @apply leading-[41px];
    font-size: revert;
    font-weight: revert;
    margin: 18px 21px 9px;
  }

  ol, ul {
    @apply pl-[20px] m-[21px];
    list-style: revert;
  }

  pre {
    @apply m-[21px];
  }

  a {
    color: var(--text-color);

    &:hover {
      @apply underline;
    }
  }

  p {
    margin: 0 21px 12px;
    white-space: pre-wrap;
  }

  img {
    @apply max-h-[690px] my-0 mx-auto;
  }
}
