@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/icons-sizes.scss';

:host {
  @apply absolute bottom-0 right-0 z-[401];
}

.modal {
  @apply relative w-[450px] p-[32px];
  height: calc(100vh - 80px);
  background-color: #fff;
  //Прочитать на счет оверлея и можно ли его использовать
  overflow-y: overlay;

  &::-webkit-scrollbar {
    @apply w-[7px];
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent my-[4px];
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full;
    background-color: $shadow;

    &:hover {
      background-color: #d0d0d0;
    }
  }

  .modal__read-more {
    @apply inline-block px-[32px] py-[10px] mt-[10px] text-white rounded-full select-none;
    background-color: $text-color;

    &:hover {
      background-color: $text-primary;
    }
  }

  .icon-hover-style-circle {
    @apply absolute right-[25px] top-[25px];
    .icon-hover-style-circle__button {
      @apply p-[10px];
    }
  }

  .modal__properties {
    @apply flex items-center gap-[15px];

    &-element {
      @apply flex items-center;
      max-width: 50%;

      span {
        @apply text-[13px] whitespace-nowrap overflow-hidden overflow-ellipsis;
        color: $text-primary;
      }
    }
  }

  .modal__heading {
    @apply mt-[5px] text-[21px] font-bold;
    color: $text-color;
  }

  .modal__zoom {
    @apply pl-[20px] mt-[5px];
    background-image: url('../../../assets/icons/icon-zoom.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 0 center;
    color: $text-primary;

    &:hover {
      color: $text-color;
      background-image: url('../../../assets/icons/icon-zoom-hover.svg');
    }
  }

  .modal__slider {
    @apply relative mt-[15px] rounded-[10px];

    &-images {
      //@apply hidden;
      @apply text-center;

      &_item {
        img {
          @apply inline-block w-auto h-[214px];
        }
      }
    }

    &-navigation {
      @apply absolute top-1/2;
      transform: translateY(-50%);

      &._right {
        @apply right-0 mr-[5px];
      }

      &._left {
        @apply left-0 right-auto ml-[5px];
      }

      .icon-hover-style-circle__button {
        @apply p-0;
      }

    }

    &-dots {
      @apply absolute bottom-[5px] left-1/2;
      transform: translateX(-50%);

      &_item {
        display: inline-block;
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 5px;
        background-color: $shadow;
        border: 2px solid $border;
        border-radius: 50%;

        &:hover {
          background-color: $border;
        }

        &._active, {
          cursor: default;
          background-color: $text-color;
          border-color: $shadow;
        }
      }
    }
  }

  .modal__information {
    &-item {
      @apply py-[15px];
      border-top: 1px solid $border;

      &:first-child {
        border: none;
      }

      &_title {
        @apply text-[13px] uppercase;
        color: $text-primary;
      }

      &_text {
        @apply pt-[5px] leading-[21px] font-bold;
      }
    }
  }

  .modal__description {
    @apply leading-[21px] pt-[15px];
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    line-clamp: 7;
    -webkit-box-orient: vertical;
  }
}
