.place-info {
  @apply relative w-[450px] p-[32px];
  height: calc(100vh - 80px);
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;

  .place-info__read-more {
    @apply inline-block px-[32px] py-[10px] mt-[10px] text-white rounded-full select-none;
    background-color: var(--text-color);

    &:hover {
      background-color: var(--text-primary-color);
    }
  }

  .icon-hover-style-circle {
    @apply absolute right-[25px] top-[25px];
    .icon-hover-style-circle__button {
      @apply p-[10px];
    }
  }

  .place-info__properties {
    @apply flex items-center gap-[15px];

    &-element {
      @apply flex items-center gap-[5px];
      max-width: 50%;

      div {
        @apply shrink-0;
      }

      span {
        @apply text-[13px] whitespace-nowrap overflow-hidden overflow-ellipsis;
        color: var(--text-primary-color);
      }
    }
  }

  .place-info__heading {
    @apply mt-[5px] text-[21px] font-bold;
    color: var(--text-color);
  }

  .place-info__information {
    &-item {
      @apply py-[15px];
      border-top: 1px solid var(--border-color);

      &:first-child {
        border: none;
      }

      &_title {
        @apply text-[13px] uppercase;
        color: var(--text-primary-color);
      }

      &_text {
        @apply pt-[5px] leading-[21px] font-bold;
      }
    }
  }

  .place-info__description {
    @apply leading-[21px] pt-[15px];
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    line-clamp: 7;
    -webkit-box-orient: vertical;
  }
}
