.place-info {
  @apply relative w-[450px] p-[32px] overflow-y-scroll overflow-x-hidden;
  height: 100vh;
  height: calc((var(--vh, 1vh) * 100) - 80px);
  background-color: #fff;

  &__read-more {
    @apply inline-block px-[32px] py-[10px] mt-[15px] text-white rounded-full select-none whitespace-nowrap float-right;
    background-color: var(--text-color);
    transition: background-color 250ms;

    &:hover {
      @apply cursor-pointer;
      background-color: var(--text-primary-color);
    }
  }

  &__properties {
    @apply flex items-center gap-[15px];

    &-element {
      @apply flex items-center gap-[5px] max-w-[50%];

      div {
        @apply shrink-0;
      }

      span {
        @apply text-[13px] whitespace-nowrap overflow-hidden overflow-ellipsis;
        color: var(--text-primary-color);
      }
    }
  }

  &__heading {
    @apply mt-[5px] text-[21px] font-bold leading-[28px];
    color: var(--text-color);
  }

  &__description {
    @apply leading-[21px] pt-[15px] break-words;
  }
}

@media (max-width: 767px) {
  .place-info {
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100) - 135px);
  }
}

@media (max-width: 450px) {
  .place-info {
    @apply w-[320px];

    &__read-more {
      @apply w-full text-center;
    }

    &__properties {
      @apply gap-[5px];
    }
  }
}
