@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/icons-sizes.scss';

.header__nav {
  @apply px-[32px] h-[80px] flex justify-between items-center;

  .header__logo {
    @apply flex gap-[15px] select-none;

    &-heading {
      font-family: zarubkaType, sans-serif;
      color: $text-color;
      @apply text-[21px];

      span {
        @apply flex flex-row leading-tight;
      }
    }
  }

  .header__menu {
    @apply flex items-center gap-[32px];
    color: $text-primary;

    &-item {
      a:hover {
        color: $text-color;
      }
    }
  }
}
