.header {
  @apply px-[32px] h-[80px] flex justify-between items-center gap-[15px];

  &__logo {
    @apply max-w-[350px];

    &-button {
      @apply align-middle;

      &_image {
        @apply select-none pointer-events-none max-h-[50px] w-auto h-auto;
      }
    }
  }

  &__menu {
    @apply flex items-center gap-[32px];
    color: var(--text-primary-color);
    transition: color 250ms;

    &-item {
      @apply select-none whitespace-nowrap;

      a:hover {
        color: var(--text-color);
      }
    }
  }

  &__search-wrapper {
    @apply flex items-center gap-[15px];
  }
}

/** ------------ **/
/** MEDIA STYLES **/
/** ------------ **/

@media (max-width: 1279px) {
  .header {
    &__menu {
      &._mobile-opened {
        @apply absolute right-[32px] top-[80px] z-[401] flex flex-col bg-white mt-[15px] px-[15px] gap-0 rounded-[15px] w-[200px];
        box-shadow: 0 0 15px -5px var(--shadow-color);

        &:before {
          content: '';
          @apply absolute bottom-full right-[15px];
          border-left: 7.5px solid transparent;
          border-right: 7.5px solid transparent;
          border-bottom: 7.5px solid #fff;
        }

        .header__menu-item {
          @apply w-full text-center;
          border-top: 1px solid var(--border-color);

          &:first-child, &:last-child {
            @apply border-none;
          }

          a {
            @apply py-[15px] block;
          }
        }
      }
    }

    &__mobile {
      &-menu {
        &._selected {
          .icon-hover-style-circle__button {
            background-color: var(--border-color);

            span {
              @apply filter-none;
              background-image: url('../../../assets/icons/icon-close.svg');
              background-size: 16px 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .header {
    &__search-wrapper {
      @apply ml-auto;
    }

    &__mobile {
      &-search {
        &._mobile-opened {
          .search__mobile-icon {
            .icon-hover-style-circle__button {
              background-color: var(--border-color);

              span {
                @apply filter-none;
                background-image: url('../../../assets/icons/icon-close.svg');
                background-size: 16px 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    @apply block h-[135px] p-[15px];

    &__logo {
      @apply max-w-full;
    }

    &__search-wrapper {
      @apply mt-[15px] gap-0 inline-block align-middle ml-0;
    }

    &__menu-wrapper {
      @apply mt-[15px] inline-block align-middle float-right;
    }

    &__menu {
      &._mobile-opened {
        @apply top-[135px] right-0 w-full m-0 p-0 rounded-none z-[403];
        box-shadow: none;

        &:before {
          @apply hidden;
        }

        .header__menu-item {
          &:first-child {
            border-top: 1px solid var(--border-color);
          }
        }
      }
    }
  }
}
