@import '~normalize.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

@import 'assets/styles/colors.scss';
@import 'assets/styles/icons-sizes.scss';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  @apply text-[16px] font-normal;
  overflow: hidden;
}

::-webkit-scrollbar {
  @apply w-[7px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent my-[4px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;
  background-color: $shadow;

  &:hover {
    background-color: #d0d0d0;
  }
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

.color-gray {
  color: $text-primary;
}

.divide-line-top {
  border-top: 1px solid $border;
}

.icon-arrow {
  transition: transform 200ms;

  &.top-arrow {
    transform: rotate(-90deg);
  }

  &.bottom-arrow {
    transform: rotate(90deg);
  }

  &.right-arrow {
    transform: rotate(-180deg);
  }
}

.icon-search {
  background-image: url('assets/icons/icon-search.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 15px center;

  &.icon-gray-style {
    background-image: url('assets/icons/icon-search-focus.svg');
  }
}

.icon-hover-style-circle {
  @apply select-none;

  .icon-hover-style-circle__button {
    @apply p-[5px] rounded-full;
    padding: 5px;

    &:hover {
      background-color: $border;
    }
  }
}

.icon-with-bg-circle {
  @apply w-full h-full relative rounded-full;
  background-color: $text-color;

  &__image {
    @apply absolute z-[1] top-0 left-0 w-full h-full p-[4px];
  }
}

.icon-marker-map {
  @apply rounded-full;

  &__pin {
    @apply w-full h-full relative rounded-full;
    background-color: #fff;

    &:after {
      content: '';
      @apply absolute top-[80%] left-1/2;
      transform: translateX(-50%);
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 25px solid #fff;
    }

    &-image {
      @apply absolute z-[1] top-0 left-0 w-full h-full;
      padding: 10px !important;
      filter: brightness(0);
    }
  }

  &._selected {
    .icon-marker-map__pin {
      background-color: $text-color;

      &:after {
        border-top-color: $text-color;
      }

      &-image {
        filter: none;
      }
    }
  }
}

.sidebar {
  @apply absolute bottom-0 z-[401];

  &._left {
    @apply left-0;
  }

  &._right {
    @apply right-0;
  }
}

//header media
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 550px) {
}
