@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

@import 'assets/styles/colors';
@import 'assets/styles/marked';

/** ------------ **/
/** BASIC STYLES **/
/** ------------ **/

body {
  @apply text-[16px] font-normal m-0 overflow-hidden;
  font-family: Roboto, sans-serif;
}

::-webkit-scrollbar {
  @apply w-[7px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent my-[4px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;
  background-color: var(--shadow-color);

  &:hover {
    background-color: #d0d0d0;
  }
}

::-moz-selection { /* Code for Firefox */
  background: var(--text-color);
}

::selection {
  background: var(--text-color);
}

textarea:focus,
input:focus,
button:focus {
  @apply outline-none;
}

/** ------------ **/
/** ICONS STYLES **/
/** ------------ **/

$sizes: 11px, 15px, 20px, 25px, 30px, 50px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

.icon-arrow {
  &.top-arrow {
    transform: rotate(-90deg);
  }

  &.bottom-arrow {
    transform: rotate(90deg);
  }

  &.right-arrow {
    transform: rotate(-180deg);
  }
}

.icon-search {
  background-image: url('assets/icons/icon-search.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 15px center;
  transition: background-image 200ms;

  &._gray {
    background-image: url('assets/icons/icon-search-focus.svg');
  }
}

.icon-hover-style-circle {
  @apply select-none;

  .icon-hover-style-circle__button {
    @apply p-[5px] rounded-full p-[5px];
    transition: background-color 200ms;

    &:hover {
      background-color: var(--border-color);
    }

    img {
      @apply select-none pointer-events-none;
    }
  }

  &.place-info__icon {
    @apply absolute right-[25px] top-[25px];

    .icon-hover-style-circle__button {
      @apply p-[10px];
    }
  }

  &.search__icon {
    @apply absolute mr-[15px] top-1/2 right-0;
    transform: translateY(-50%);
  }

  &.main-page__icon {
    @apply absolute z-[401] left-[300px] top-[7.5px] bg-white rounded-full w-[40px] h-[40px];
    transition: left 500ms ease-in-out;

    .icon-arrow {
      transition: transform 500ms ease-in-out;
    }

    &._closed {
      @apply left-[10px];

      .icon-arrow {
        @apply ml-[1px];
        transform: rotate(180deg);
      }
    }
  }

  &.content-wrapper__icon {
    @apply fixed z-[401] right-[30px] top-[20px];

    .icon-hover-style-circle__button {
      @apply p-[15px];
    }
  }

  &.search__mobile-icon {
    @apply bg-white rounded-full;

    .icon-hover-style-circle__button {
      @apply p-[10px];

      span {
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('assets/icons/icon-search.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        transition: background-image 200ms;
        filter: brightness(0.5);
      }
    }
  }
}

.icon-with-bg-circle {
  @apply w-full h-full relative rounded-full;
  background-color: var(--text-color);

  &__image {
    @apply absolute z-[1] top-0 left-0 w-full h-full p-[4px];
  }

  &.article__category-icon {
    .icon-with-bg-circle__image {
      @apply p-[5px];
    }
  }
}

.icon-marker-map {
  @apply rounded-full;

  &__pin {
    @apply w-full h-full relative rounded-full bg-white;
    transition: background-color 200ms;

    &:hover {
      background-color: var(--border-color);

      &:after {
        border-top-color: var(--border-color);
      }
    }

    &:after {
      content: '';
      @apply absolute top-[80%] left-1/2;
      transform: translateX(-50%);
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 25px solid #fff;
      transition: border-top-color 200ms;
    }

    &-image {
      @apply absolute z-[1] top-0 left-0 w-full h-full;
      padding: 10px !important;
      filter: brightness(0);
    }
  }

  &._selected {
    .icon-marker-map__pin {
      @apply cursor-auto;
      background-color: var(--text-color);

      &:after {
        border-top-color: var(--text-color);
      }

      &-image {
        @apply select-none pointer-events-none;
        filter: none;
      }
    }
  }
}

/** --------------- **/
/** ELEMENTS STYLES **/
/** --------------- **/

.color-gray {
  color: var(--text-primary-color);
}

.divide-line-top {
  border-top: 1px solid var(--border-color);
}

.leaflet-touch .leaflet-bar a {
  @apply w-[35px] h-[35px] leading-[35px];

  &:first-child {
    @apply rounded-full;
    color: var(--text-primary-color);
    transition: background-color 200ms;

    &:hover {
      background-color: var(--border-color);
    }
  }

  &:last-child {
    @apply mt-[5px] rounded-full;
    color: var(--text-primary-color);
    transition: background-color 200ms;

    &:hover {
      background-color: var(--border-color);
    }

    span {
      @apply ml-[-2px];
    }
  }
}

.leaflet-control-zoom {
  border: none !important;
  transition: margin-left 500ms ease-in-out;
}

.preloader {
  @apply relative overflow-hidden pointer-events-none select-none;
  background-image: url('assets/icons/preloader.svg');
  background-repeat: no-repeat;

  &__wrapper {
    @apply fixed top-1/2 left-1/2;
    transform: translate(-50%, -50%);
  }

  &__logo {
    @apply relative w-[80px] h-[80px];
  }

  &__liquid {
    @apply absolute top-[-40px] left-[-50%] w-[160px] h-[160px] opacity-[0.5];
    transition: 500ms;

    &::after, &::before {
      content: '';
      @apply w-[200%] h-[200%] absolute top-0 left-1/2;
      transform: translate(-50%, -75%);
    }

    &::before {
      @apply rounded-[45%] bg-white;
      animation: liquid-animate 5s linear infinite;
    }

    &::after {
      @apply rounded-[40%] bg-white;
      animation: liquid-animate 8s linear infinite;
    }
  }

  @keyframes liquid-animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 550px) {
}
