.carousel {
  @apply relative overflow-hidden mt-[15px] rounded-[10px];
  background-color: var(--shadow-color);

  &__images {
    @apply text-center;

    &-item {
      img {
        @apply inline-block w-auto h-[214px];
      }
    }
  }

  &__navigation {
    @apply absolute top-1/2;
    transform: translateY(-50%);

    &._right {
      @apply right-0 mr-[5px];
    }

    &._left {
      @apply left-0 right-auto ml-[5px];
    }

    .icon-hover-style-circle__button {
      @apply p-0;
    }

  }

  &__dots {
    @apply absolute bottom-[5px] left-1/2;
    transform: translateX(-50%);

    &-item {
      display: inline-block;
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 3px;
      background-color: #fff;
      border: 2px solid var(--border-color);
      border-radius: 50%;

      &:hover {
        background-color: var(--shadow-color);
      }

      &._active, {
        cursor: default;
        background-color: var(--text-color);
      }
    }
  }
}
