.search-results {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;

  &__wrapper {
    @apply relative w-[350px] px-[32px] py-[15px];
    background-color: #fff;
  }

  .icon-hover-style-circle {
    @apply absolute z-[1] right-[15px] top-[7.5px] bg-white rounded-full w-[40px] h-[40px];
    transition: margin-right 500ms ease-in-out;

    .icon-arrow {
      transition: transform 500ms ease-in-out;
    }

    &._closed {
      @apply mr-[-65px];

      .icon-arrow {
        @apply ml-[1px];
        transform: rotate(180deg);
      }
    }
  }

  .search-results__list {
    @apply mt-[15px];

    &-item {
      &_link {
        @apply block py-[15px] w-full;

        &-properties {
          @apply flex items-center gap-[15px];

          &_element {
            @apply flex items-center gap-[5px];
            max-width: 50%;

            div {
              @apply shrink-0;
            }

            span {
              @apply text-[13px] whitespace-nowrap overflow-hidden overflow-ellipsis;
              color: var(--text-primary-color);
            }
          }
        }

        &-heading {
          @apply mt-[10px] text-left;
        }

        &:hover {
          .search-results__list-item_link-heading {
            color: var(--text-color);
          }
        }
      }

      &:last-child {
        @apply mb-[50px];
      }
    }
  }
}
