.search-results {
  @apply relative w-[350px] px-[32px] py-[15px] overflow-y-scroll overflow-x-hidden;
  height: calc(100vh - 80px);
  background-color: #fff;

  .search-results__list {
    @apply mt-[15px];

    &-item {
      &_link {
        @apply block py-[15px] w-full;

        &-properties {
          @apply flex items-center gap-[15px];

          &_element {
            @apply flex items-center gap-[5px] max-w-[50%];

            div {
              @apply shrink-0;
            }

            span {
              @apply text-[13px] whitespace-nowrap overflow-hidden overflow-ellipsis;
              color: var(--text-primary-color);
            }
          }
        }

        &-heading {
          @apply mt-[10px] text-left;
          transition: color 250ms;
        }

        &:hover {
          .search-results__list-item_link-heading {
            color: var(--text-color);
          }
        }
      }

      &:last-child {
        @apply mb-[50px];
      }
    }
  }
}
